{% extends 'base.html.twig' %}
{% block body%}
<h1> {{titre}}</h1>
<p> tyduyczoeuchouh </p>
<hr>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Fugit maxime quos ut similique vitae beatae nihil distinctio alias deleniti tempore sapiente suscipit eveniet officia consectetur, possimus ratione fugiat architecto accusantium! Accusantium ut laborum provident quasi natus architecto voluptas quas eos?
</hr>
<a href=" {{path ('blog')}}" class="btn btn-primary">aller vers le blog</a></div>
{%endblock%}